#easy {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: black;
    border-width: 25px;
    background-color: red;
    font-size: 75px;
    font-family: Galada;
    color: white;
    /*margin-right: 500px;*/
    background: red;
    box-shadow: 20px 10px 18px #888777;
    
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   height: 100%;
}
html {
    height: 100%;
}
body{
    background-color: blue;
}
#grad{
    background: red;
    background: -webkit-radial-gradient(circle,red, yellow, green);
    background: -o-radial-gradient(circle, red, yellow, green);
    background: -moz-radial-gradient(circle, red, yellow, green);
    background: radial-gradient(circle, red, yellow, green);
}
